<div data-layout="rows(30px, 30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Tipo de Editor:</div>
		<select id="edType">
			<option value="text">text</option>
			<option value="number">number</option>
			<option value="checkbox">checkbox</option>
			<option value="email">email</option>
			<option value="search">search</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 30px, 70px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Autochange [ms]:</div>
		<input id="edAutochange" type="checkbox" data-layout-margins="0,3,0,0"/>
		<input id="edAutochangeDelay" type="number" min="50" max="10000" step="50" data-layout-margins="0,2,0,5"/>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Placeholder:</div>
		<input id="edPlaceholder" type="text" />
		<div></div>
	</div>
	<div></div>
</div>