<div data-layout="rows(100%)">
	<div data-layout="cols(150px, 100%)"  data-layout-margins="0,5,0,0">
		<div data-layout="rows(34px, 100%)">
			<div class="ui-widget-header ui-corner-top" data-layout="cols(100%, 30px, 30px)">
				<div class="titulo-panel" data-layout-margins="10,10,0,0">Columnas</div>
				<button id="cmdAgregarColumna" type="button" data-layout-margins="0,6,5,6">Agregar</button>
				<button id="cmdEliminarColumna" type="button" data-layout-margins="0,6,5,6">Eliminar</button>
			</div>
			<select id="edColumna" size="5"></select>
		</div>
		<div class="ui-widget-content ui-corner-all" data-layout-margins="5,0,0,0" data-layout="rows(100%)" style="overflow: auto;">
			<div id="editorColumna" data-layout="rows(50px, 50px, 50px, 50px, 50px, 50px, 50px, 100%)" data-layout-margin="5">
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Campo:</div>
					<div data-layout="cols(120px, 100%)" data-layout-margins="0,4,0,10">
						<input id="edCampo" type="text" />
						<div></div>
					</div>
				</div>
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Título:</div>
					<div data-layout="cols(120px, 100%)" data-layout-margins="0,4,0,10">
						<input id="edTitulo" type="text" />
						<div></div>
					</div>
				</div>
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Justificar Título:</div>
					<div data-layout="cols(100%)" data-layout-margins="0,4,0,10">
						<select id="edJustificaTitulo">
							<option value="">[Default]</option>
							<option value="text-center">text-center</option>
							<option value="text-left">text-left</option>
							<option value="text-right">text-right</option>
						</select>
					</div>
				</div>
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Clases Custom Título:</div>
					<div data-layout="cols(120px, 100%)" data-layout-margins="0,4,0,10">
						<input id="edClasesCustomTitulo" type="text" />
						<div></div>
					</div>
				</div>
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Ancho Título:</div>
					<div data-layout="cols(120px, 100%)" data-layout-margins="0,4,0,10">
						<input id="edAnchoTitulo" type="text" />
						<div></div>
					</div>
				</div>
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Justificar Contenido:</div>
					<div data-layout="cols(100%)" data-layout-margins="0,4,0,10">
						<select id="edJustificaContenido">
							<option value="">[Default]</option>
							<option value="text-center">text-center</option>
							<option value="text-left">text-left</option>
							<option value="text-right">text-right</option>
						</select>
					</div>
				</div>
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Clases Custom Contenido:</div>
					<div data-layout="cols(120px, 100%)" data-layout-margins="0,4,0,10">
						<input id="edClasesCustomContenido" type="text" />
						<div></div>
					</div>
				</div>
				<div></div>
			</div>
		</div>
	</div>
</div>