<div data-layout="rows(30px, 30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estilo Bootstrap:</div>
		<select id="edEstilo">
			<option value="">[Sin Estilo Bootstrap]</option>
			<option value="btn-primary">btn-primary</option>
			<option value="btn-secondary">btn-secondary</option>
			<option value="btn-success">btn-success</option>
			<option value="btn-danger">btn-danger</option>
			<option value="btn-warning">btn-warning</option>
			<option value="btn-info">btn-info</option>
			<option value="btn-light">btn-light</option>
			<option value="btn-dark">btn-dark</option>
			<option value="btn-link">btn-link</option>
			<option value="btn-outline-primary">btn-outline-primary</option>
			<option value="btn-outline-secondary">btn-outline-secondary</option>
			<option value="btn-outline-success">btn-outline-success</option>
			<option value="btn-outline-danger">btn-outline-danger</option>
			<option value="btn-outline-warning">btn-outline-warning</option>
			<option value="btn-outline-info">btn-outline-info</option>
			<option value="btn-outline-light">btn-outline-light</option>
			<option value="btn-outline-dark">btn-outline-dark</option>			
		</select>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Etiqueta:</div>
		<input id="edEtiqueta" type="text" />
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Tamaño Botón:</div>
		<select id="edSize">
			<option value="">[Default Bootstrap]</option>
			<option value="btn-lg">btn-lg</option>
			<option value="btn-sm">btn-sm</option>		
		</select>
	</div>
	<div></div>
</div>