<div data-layout="rows(30px, 30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Tipo de Paginación:</div>
		<select id="edPagination">
			<option value="local">local</option>
			<option value="server">server</option>
		</select>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Nº Filas por Página:</div>
		<input id="edFilas" type="number" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Nº de Páginas:</div>
		<input id="edPaginas" type="number" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estilos Bootstrap:</div>
		<div style="overflow: auto;">
			<ul id="edEstilos"></ul>
		</div>
	</div>
</div>