<div data-layout="rows(30px, 120px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Grupo de Estilos:</div>
		<select id="edGrupoEstilos">
		</select>
	</div>
	<div class="ui-widget-content ui-corner-all" data-layout-margins="0,10,0,10" data-layout="rows(100%)">
		<div data-layout-margins="5,0,5,0" style="overflow: auto;">
			<p id="help"></p>
			<hr />
			<a id="link" target="_blank">Ayuda Adicional</a>
		</div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estilo:</div>
		<div style="overflow: auto;">
			<ul id="edEstilo"></ul>
		</div>
	</div>
</div>