<div data-layout="rows(30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(110px, 30px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Form Control:</div>
		<input id="edFormControl" type="checkbox" />
		<div></div>	
	</div>
	<div id="filaSize" data-layout-margin="5" data-layout="cols(110px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Control Size:</div>
		<select id="edSize">
			<option value="">[Default]</option>
			<option value="form-control-sm">form-control-sm</option>
			<option value="form-control-lg">form-control-lg</option>
		</select>
	</div>
	<div></div>
</div>