<div data-layout="rows(30px, 30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Padding Left:</div>
		<select id="edPL">
			<option value="">[Default]</option>
			<option value="0">pl-0</option>
			<option value="1">pl-1</option>
			<option value="2">pl-2</option>
			<option value="3">pl-3</option>
			<option value="4">pl-4</option>
			<option value="5">pl-5</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Padding Right:</div>
		<select id="edPR">
			<option value="">[Default]</option>
			<option value="0">pr-0</option>
			<option value="1">pr-1</option>
			<option value="2">pr-2</option>
			<option value="3">pr-3</option>
			<option value="4">pr-4</option>
			<option value="5">pr-5</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Padding Top:</div>
		<select id="edPT">
			<option value="">[Default]</option>
			<option value="0">pt-0</option>
			<option value="1">pt-1</option>
			<option value="2">pt-2</option>
			<option value="3">pt-3</option>
			<option value="4">pt-4</option>
			<option value="5">pt-5</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Padding Bottom:</div>
		<select id="edPB">
			<option value="">[Default]</option>
			<option value="0">pb-0</option>
			<option value="1">pb-1</option>
			<option value="2">pb-2</option>
			<option value="3">pb-3</option>
			<option value="4">pb-4</option>
			<option value="5">pb-5</option>
		</select>
		<div></div>
	</div>
	<div></div>
</div>