<div data-layout="rows(30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Tamaño:</div>
		<select id="edSize">
			<option value="fa-xs">fa-xs</option>
			<option value="fa-sm">fa-sm</option>
			<option value="fa-lg">fa-lg</option>
			<option value="fa-2x">fa-2x</option>
			<option value="fa-3x">fa-3x</option>
			<option value="fa-4x">fa-4x</option>
			<option value="fa-5x">fa-5x</option>
			<option value="fa-6x">fa-6x</option>
			<option value="fa-7x">fa-7x</option>
			<option value="fa-8x">fa-8x</option>
			<option value="fa-9x">fa-9x</option>
			<option value="fa-10x">fa-10x</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 30px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Border:</div>
		<input id="edBorder" type="checkbox" data-layout-margins="0,3,0,0"/>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(40px, 30px, 60px, 40px, 30px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">fa-ul:</div>
		<input id="edUL" type="checkbox" data-layout-margins="0,3,0,0"/>
		<div></div>
		<div class="form-label" data-layout-margins="0,6,0,0">fa-li:</div>
		<input id="edLI" type="checkbox" data-layout-margins="0,3,0,0"/>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Pull:</div>
		<select id="edPull">
			<option value="">[No pull]</option>
			<option value="fa-pull-left">fa-pull-left</option>
			<option value="fa-pull-right">fa-pull-right</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Animar:</div>
		<select id="edAnimar">
			<option value="">[No Animar]</option>
			<option value="fa-spin">fa-spiin</option>
			<option value="fa-pulse">fa-pulse</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Rotar:</div>
		<select id="edRotate">
			<option value="">[No Rotar]</option>
			<option value="fa-rotate-90">fa-rotate-90</option>
			<option value="fa-rotate-180">fa-rotate-180</option>
			<option value="fa-rotate-270">fa-rotate-270</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Flip:</div>
		<select id="edFlip">
			<option value="">[No Flip]</option>
			<option value="fa-flip-horizontal">fa-flip-horizontal</option>
			<option value="fa-flip-vertical">fa-flip-vertical</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 30px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Fixed Width:</div>
		<input id="edFW" type="checkbox" data-layout-margins="0,3,0,0"/>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estilo:</div>
		<select id="edEstilo">
			<option value="fab">Brands (fab)</option>
			<option value="fas">Solid (fas)</option>
			<option value="far">Regular (far)</option>
			<option value="far">Light (fal) [no free]</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 130px, 30px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Nombre Icono:</div>
		<input id="edIcono" type="text" data-layout-margins="0,0,5,0"/>
		<button id="cmdBuscar" data-layout-margins="5,0,0,0">Buscar</button>
		<div></div>
	</div>
	<div>
		<hr />
		<div id="preview"></div>
	</div>
</div>