<div data-layout="rows(30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Alinear Items:</div>
		<select id="edJustifyContent">
			<option value="">[No Alinear Horizontalmente]</option>
			<option value="justify-content-start">justify-content-start</option>
			<option value="justify-content-center">justify-content-center</option>
			<option value="justify-content-end">justify-content-end</option>
		</select>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Alinear Items:</div>
		<select id="edAlignItems">
			<option value="">[No Alinear Verticalmente]</option>
			<option value="align-items-start">align-items-start</option>
			<option value="align-items-center">align-items-center</option>
			<option value="align-items-end">align-items-end</option>
		</select>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 30px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Fila Formulario:</div>
		<input id="edForm" type="checkbox" data-layout-margins="0,3,0,0"/>
		<div></div>
	</div>
	<div></div>
</div>