<div data-layout="rows(30px, 30px, 30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Detalle Páginas (#):</div>
		<input id="edDetalles" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Paginador (#):</div>
		<input id="edPaginador" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 30px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Columna Edición:</div>
		<input id="edEdit" type="checkbox" data-layout-margins="0,3,0,0"/>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Seleccionar Filas:</div>
		<select id="edSelectableRowClass">
			<option value="">[Sin selección de Filas]</option>
			<option value="table-active">table-active</option>
			<option value="table-primary">table-primary</option>
			<option value="table-secondary">table-secondary</option>
			<option value="table-success">table-success</option>
			<option value="table-danger">table-danger</option>
			<option value="table-warning">table-warning</option>
			<option value="table-info">table-info</option>
			<option value="table-light">table-light</option>
			<option value="table-dark">table-dark</option>
		</select>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estilos Bootstrap:</div>
		<div style="overflow: auto;">
			<ul id="edEstilos"></ul>
		</div>
	</div>
</div>