<div data-layout="rows(30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estilo Bootstrap:</div>
		<select id="edEstilo">
			<option value="">[default]</option>
			<option value="badge-primary">badge-primary</option>
			<option value="badge-secondary">badge-secondary</option>
			<option value="badge-success">badge-success</option>
			<option value="badge-danger">badge-danger</option>
			<option value="badge-warning">badge-warning</option>
			<option value="badge-info">badge-info</option>
			<option value="badge-light">badge-light</option>
			<option value="badge-dark">badge-dark</option>
		</select>
	</div>
	<div></div>
</div>