<div data-layout="rows(70px, 70px, 70px, 70px, 70px, 100%)">
	<div data-layout-margin="5" data-layout="rows(20px, 3px, 100%)" class="ui-widget-content ui-corner-all">
		<div class="form-label" data-layout-margins="5,5,0,0">Extra Small (&lt; 576px)</div>
		<div><hr /></div>
		<div data-layout-margin="10" data-layout="cols(50%, 50%)">
			<select id="edCol" data-layout-margins="0,0,5,0">
				<option value="">[Sin col-]</option>
				<option value="col-1">col-1</option>
				<option value="col-2">col-2</option>
				<option value="col-3">col-3</option>
				<option value="col-4">col-4</option>
				<option value="col-5">col-5</option>
				<option value="col-6">col-6</option>
				<option value="col-7">col-7</option>
				<option value="col-8">col-8</option>
				<option value="col-9">col-9</option>
				<option value="col-10">col-10</option>
				<option value="col-11">col-11</option>
				<option value="col-12">col-12</option>
			</select>
			<select id="edOffset" data-layout-margins="0,0,5,0">
				<option value="">[Sin offset-]</option>
				<option value="offset-1">offset-1</option>
				<option value="offset-2">offset-2</option>
				<option value="offset-3">offset-3</option>
				<option value="offset-4">offset-4</option>
				<option value="offset-5">offset-5</option>
				<option value="offset-6">offset-6</option>
				<option value="offset-7">offset-7</option>
				<option value="offset-8">offset-8</option>
				<option value="offset-9">offset-9</option>
				<option value="offset-10">offset-10</option>
				<option value="offset-11">offset-11</option>
				<option value="offset-12">offset-12</option>
			</select>
		</div>
	</div>
	
	<div data-layout-margin="5" data-layout="rows(20px, 3px, 100%)" class="ui-widget-content ui-corner-all">
		<div class="form-label" data-layout-margins="5,5,0,0">Small (&ge; 576px)</div>
		<div><hr /></div>
		<div data-layout-margin="10" data-layout="cols(50%, 50%)">
			<select id="edColSM" data-layout-margins="0,0,5,0">
				<option value="">[Sin col-sm-]</option>
				<option value="col-sm-1">col-sm-1</option>
				<option value="col-sm-2">col-sm-2</option>
				<option value="col-sm-3">col-sm-3</option>
				<option value="col-sm-4">col-sm-4</option>
				<option value="col-sm-5">col-sm-5</option>
				<option value="col-sm-6">col-sm-6</option>
				<option value="col-sm-7">col-sm-7</option>
				<option value="col-sm-8">col-sm-8</option>
				<option value="col-sm-9">col-sm-9</option>
				<option value="col-sm-10">col-sm-10</option>
				<option value="col-sm-11">col-sm-11</option>
				<option value="col-sm-12">col-sm-12</option>
			</select>
			<select id="edOffsetSM" data-layout-margins="0,0,5,0">
				<option value="">[Sin offset-sm-]</option>
				<option value="offset-sm-1">offset-sm-1</option>
				<option value="offset-sm-2">offset-sm-2</option>
				<option value="offset-sm-3">offset-sm-3</option>
				<option value="offset-sm-4">offset-sm-4</option>
				<option value="offset-sm-5">offset-sm-5</option>
				<option value="offset-sm-6">offset-sm-6</option>
				<option value="offset-sm-7">offset-sm-7</option>
				<option value="offset-sm-8">offset-sm-8</option>
				<option value="offset-sm-9">offset-sm-9</option>
				<option value="offset-sm-10">offset-sm-10</option>
				<option value="offset-sm-11">offset-sm-11</option>
				<option value="offset-sm-12">offset-sm-12</option>
			</select>
		</div>
	</div>
	
	<div data-layout-margin="5" data-layout="rows(20px, 3px, 100%)" class="ui-widget-content ui-corner-all">
		<div class="form-label" data-layout-margins="5,5,0,0">Medium (&ge; 768px)</div>
		<div><hr /></div>
		<div data-layout-margin="10" data-layout="cols(50%, 50%)">
			<select id="edColMD" data-layout-margins="0,0,5,0">
				<option value="">[Sin col-md-]</option>
				<option value="col-md-1">col-md-1</option>
				<option value="col-md-2">col-md-2</option>
				<option value="col-md-3">col-md-3</option>
				<option value="col-md-4">col-md-4</option>
				<option value="col-md-5">col-md-5</option>
				<option value="col-md-6">col-md-6</option>
				<option value="col-md-7">col-md-7</option>
				<option value="col-md-8">col-md-8</option>
				<option value="col-md-9">col-md-9</option>
				<option value="col-md-10">col-md-10</option>
				<option value="col-md-11">col-md-11</option>
				<option value="col-md-12">col-md-12</option>
			</select>
			<select id="edOffsetMD" data-layout-margins="0,0,5,0">
				<option value="">[Sin offset-md-]</option>
				<option value="offset-md-1">offset-md-1</option>
				<option value="offset-md-2">offset-md-2</option>
				<option value="offset-md-3">offset-md-3</option>
				<option value="offset-md-4">offset-md-4</option>
				<option value="offset-md-5">offset-md-5</option>
				<option value="offset-md-6">offset-md-6</option>
				<option value="offset-md-7">offset-md-7</option>
				<option value="offset-md-8">offset-md-8</option>
				<option value="offset-md-9">offset-md-9</option>
				<option value="offset-md-10">offset-md-10</option>
				<option value="offset-md-11">offset-md-11</option>
				<option value="offset-md-12">offset-md-12</option>
			</select>
		</div>
	</div>
	
	<div data-layout-margin="5" data-layout="rows(20px, 3px, 100%)" class="ui-widget-content ui-corner-all">
		<div class="form-label" data-layout-margins="5,5,0,0">Large (&ge; 992px)</div>
		<div><hr /></div>
		<div data-layout-margin="10" data-layout="cols(50%, 50%)">
			<select id="edColLG" data-layout-margins="0,0,5,0">
				<option value="">[Sin col-lg-]</option>
				<option value="col-lg-1">col-lg-1</option>
				<option value="col-lg-2">col-lg-2</option>
				<option value="col-lg-3">col-lg-3</option>
				<option value="col-lg-4">col-lg-4</option>
				<option value="col-lg-5">col-lg-5</option>
				<option value="col-lg-6">col-lg-6</option>
				<option value="col-lg-7">col-lg-7</option>
				<option value="col-lg-8">col-lg-8</option>
				<option value="col-lg-9">col-lg-9</option>
				<option value="col-lg-10">col-lg-10</option>
				<option value="col-lg-11">col-lg-11</option>
				<option value="col-lg-12">col-lg-12</option>
			</select>
			<select id="edOffsetLG" data-layout-margins="0,0,5,0">
				<option value="">[Sin offset-lg-]</option>
				<option value="offset-lg-1">offset-lg-1</option>
				<option value="offset-lg-2">offset-lg-2</option>
				<option value="offset-lg-3">offset-lg-3</option>
				<option value="offset-lg-4">offset-lg-4</option>
				<option value="offset-lg-5">offset-lg-5</option>
				<option value="offset-lg-6">offset-lg-6</option>
				<option value="offset-lg-7">offset-lg-7</option>
				<option value="offset-lg-8">offset-lg-8</option>
				<option value="offset-lg-9">offset-lg-9</option>
				<option value="offset-lg-10">offset-lg-10</option>
				<option value="offset-lg-11">offset-lg-11</option>
				<option value="offset-lg-12">offset-lg-12</option>
			</select>
		</div>
	</div>
	
	<div data-layout-margin="5" data-layout="rows(20px, 3px, 100%)" class="ui-widget-content ui-corner-all">
		<div class="form-label" data-layout-margins="5,5,0,0">Extra Large (&ge; 1200px)</div>
		<div><hr /></div>
		<div data-layout-margin="10" data-layout="cols(50%, 50%)">
			<select id="edColXL" data-layout-margins="0,0,5,0">
				<option value="">[Sin col-xl-]</option>
				<option value="col-xl-1">col-xl-1</option>
				<option value="col-xl-2">col-xl-2</option>
				<option value="col-xl-3">col-xl-3</option>
				<option value="col-xl-4">col-xl-4</option>
				<option value="col-xl-5">col-xl-5</option>
				<option value="col-xl-6">col-xl-6</option>
				<option value="col-xl-7">col-xl-7</option>
				<option value="col-xl-8">col-xl-8</option>
				<option value="col-xl-9">col-xl-9</option>
				<option value="col-xl-10">col-xl-10</option>
				<option value="col-xl-11">col-xl-11</option>
				<option value="col-xl-12">col-xl-12</option>
			</select>
			<select id="edOffsetXL" data-layout-margins="0,0,5,0">
				<option value="">[Sin offset-xl-]</option>
				<option value="offset-xl-1">offset-xl-1</option>
				<option value="offset-xl-2">offset-xl-2</option>
				<option value="offset-xl-3">offset-xl-3</option>
				<option value="offset-xl-4">offset-xl-4</option>
				<option value="offset-xl-5">offset-xl-5</option>
				<option value="offset-xl-6">offset-xl-6</option>
				<option value="offset-xl-7">offset-xl-7</option>
				<option value="offset-xl-8">offset-xl-8</option>
				<option value="offset-xl-9">offset-xl-9</option>
				<option value="offset-xl-10">offset-xl-10</option>
				<option value="offset-xl-11">offset-xl-11</option>
				<option value="offset-xl-12">offset-xl-12</option>
			</select>
		</div>
	</div>
	
	<div></div>
</div>