<div data-layout="rows(30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div></div>
</div>