<div data-layout="rows(30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout="cols(150px, 100%)"  data-layout-margins="0,5,0,0">
		<div data-layout="rows(34px, 100%)">
			<div class="ui-widget-header ui-corner-top" data-layout="cols(100%, 30px, 30px)">
				<div class="titulo-panel" data-layout-margins="10,10,0,0">Páginas</div>
				<button id="cmdAgregarPagina" type="button" data-layout-margins="0,6,5,6">Agregar</button>
				<button id="cmdEliminarPagina" type="button" data-layout-margins="0,6,5,6">Eliminar</button>
			</div>
			<select id="edPagina" size="5"></select>
		</div>
		<div class="ui-widget-content ui-corner-all" data-layout-margins="5,0,0,0" data-layout="rows(70px, 5px, 100%)">
			<div>
				<p style="margin-left: 5px; margin-right: 5px;">Las páginas asociadas al loader son sólo referenciales (a excepción de la inicial). Se usan para facilitar la edición con métodos y eventos obtenidos desde los contratos de los controles agregados.</p>
			</div>
			<div><hr /></div>
			<div id="editorPagina" data-layout="rows(50px, 50px, 30px, 100%)" data-layout-margin="5">
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">Código:</div>
					<div data-layout="cols(120px, 100%)" data-layout-margins="0,4,0,10">
						<input id="edCode" type="text" />
						<div></div>
					</div>
				</div>
				<div data-layout="rows(20px, 30px)">
					<div class="form-label" data-layout-margins="0,6,0,0">URL Control:</div>
					<div data-layout="cols(100%, 30px)" >
						<input id="edURL" type="text" data-layout-margins="0,4,5,10"/>
						<button id="cmdBuscarControl" type="button" data-layout-margins="5,4,0,6">Buscar</button>
					</div>
				</div>
				<div data-layout="cols(30px, 130px)">
					<input id="edInitial" type="checkbox" />
					<div class="form-label" data-layout-margins="0,13,0,0">Página Inicial:</div>
				</div>
				<div></div>
			</div>
		</div>
	</div>
</div>