<div data-layout="rows(30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Id:</div>
		<input id="edId" type="text" />
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estilo Bootstrap:</div>
		<select id="edEstilo">
			<option value="">[default]</option>
			<option value="alert-primary">alert-primary</option>
			<option value="alert-secondary">alert-secondary</option>
			<option value="alert-success">alert-success</option>
			<option value="alert-danger">alert-danger</option>
			<option value="alert-warning">alert-warning</option>
			<option value="alert-info">alert-info</option>
			<option value="alert-light">alert-light</option>
			<option value="alert-dark">alert-dark</option>
		</select>
	</div>
	<div data-layout-margin="5" data-layout="cols(130px, 100%)">
		<div class="form-label" data-layout-margins="0,6,0,0">Estado Inicial:</div>
		<select id="edVisible">
			<option value="visible">Visible</option>
			<option value="invisible">Invisible</option>
		</select>
	</div>
	<div></div>
</div>