<div data-layout="rows(100%)">
	<div data-layout="rows(34px, 100%)" data-layout-margins="0,0,2,2">
		<div data-layout="cols(100%, 100px)" class="ui-widget-header ui-corner-top">
			<div id="lblTitulo" class="titulo-panel" data-layout-margins="5,10,0,0"></div>
			<button id="cmdAplicar" type="button" data-layout-margins="0,3,5,4">Aplicar</button>
		</div>
		<div id="contenedor-editor" data-layout-margins="0,3,0,0" data-layout="rows(100%)" style="border: 1px solid gray;">
			<div></div>
		</div>
	</div>
</div>