<div data-layout="rows(30px, 30px, 30px, 30px, 100%)">
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Margin Left:</div>
		<select id="edML">
			<option value="">[Default]</option>
			<option value="0">ml-0</option>
			<option value="1">ml-1</option>
			<option value="2">ml-2</option>
			<option value="3">ml-3</option>
			<option value="4">ml-4</option>
			<option value="5">ml-5</option>
			<option value="auto">ml-auto</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Margin Right:</div>
		<select id="edMR">
			<option value="">[Default]</option>
			<option value="0">mr-0</option>
			<option value="1">mr-1</option>
			<option value="2">mr-2</option>
			<option value="3">mr-3</option>
			<option value="4">mr-4</option>
			<option value="5">mr-5</option>
			<option value="auto">mr-auto</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Margin Top:</div>
		<select id="edMT">
			<option value="">[Default]</option>
			<option value="0">mt-0</option>
			<option value="1">mt-1</option>
			<option value="2">mt-2</option>
			<option value="3">mt-3</option>
			<option value="4">mt-4</option>
			<option value="5">mt-5</option>
			<option value="auto">mt-auto</option>
		</select>
		<div></div>
	</div>
	<div data-layout-margin="5" data-layout="cols(110px, 80px, 100%)">
		<div class="form-label" data-layout-margins="0,3,0,0">Margin Bottom:</div>
		<select id="edMB">
			<option value="">[Default]</option>
			<option value="0">mb-0</option>
			<option value="1">mb-1</option>
			<option value="2">mb-2</option>
			<option value="3">mb-3</option>
			<option value="4">mb-4</option>
			<option value="5">mb-5</option>
			<option value="auto">mb-auto</option>
		</select>
		<div></div>
	</div>
	<div></div>
</div>