<div data-layout="rows(100%)">
	<div data-layout="cols(150px, 100%)" data-layout-margins="0,0,0,2">
		<div data-layout="rows(100%)" class="ui-widget-content ui-corner-all">
			<select id="edPagina" data-layout-margins="5,5,5,5" size="5"></select>
		</div>
		<div data-layout="rows(100%)" data-layout-margins="5,0,0,0" class="ui-widget-content ui-corner-all">
			<div id="loader" data-layout="rows(100%)" data-layout-margins="5,5,5,5"><div></div></div>
		</div>
	</div>
</div>