<div>
	<div data-layout="rows(100%)">	
		<div data-layout="rows(30px, 30px, 30px, 100%)" data-layout-margins="10,10,0,0">
			<div data-layout-margin="5" data-layout="cols(130px, 120px, 100%)">
				<div class="form-label" data-layout-margins="0,6,0,0">Id Tabla:</div>
				<input id="edId" type="text" />
				<div></div>
			</div>
			<div data-layout-margin="5" data-layout="cols(130px, 30px, 100%)">
				<div class="form-label" data-layout-margins="0,6,0,0">Detalle Fila:</div>
				<input id="edDetalle" type="checkbox" checked="checked" data-layout-margins="0,3,0,0"/>
				<div></div>
			</div>
			<div data-layout-margin="5" data-layout="cols(130px, 30px, 100%)">
				<div class="form-label" data-layout-margins="0,6,0,0">Paginador:</div>
				<input id="edPaginador" type="checkbox" checked="checked" data-layout-margins="0,3,0,0"/>
				<div></div>
			</div>
			<div></div>
		</div>
	</div>
</div>