<div data-layout="rows(100%, 1px)" class="ui-widget-content ui-corner-all">
	<div data-layout="rows(30px, 100%)" data-layout-margins="0,0,0,0" >
		<div data-layout="cols(100%, 100px, 30px)">
			<input id="edFiltro" data-layout-margins="5,7,15,4" class="form-input"  style="width: 100%; height: 100%;"type="search" placeholder="Buscar por nombre"/>
			<button id="cmdOpciones" data-layout-margins="0,5,6,0">Opciones</button>
			<button id="cmdRefresh" data-layout-margins="0,5,6,0">Refrescar</button>
		</div>
		<div id="arbolArchivosContainer" data-layout-margins="5,5,5,10">
			<table id="arbolArchivos"></table>
		</div>
	</div>
	<div>
	<div>
		<ul id="pop-menu" style="display: none; z-index: 101;">
			<li id="cmdAddControl">Agregar Control ZMVC</li>
			<li id="cmdAddCSS">Agregar Archivo CSS</li>
			<li id="cmdAddHTML">Agregar Archivo HTML</li>
			<li id="cmdAddJS">Agregar Archivo JavaScript</li>
			<li id="cmdAddMockServer">Agregar Servidor Mock</li>
			<li id="cmdAddFolder">Crear Directorio</li>
			<li id="cmdRenombrar">Renombrar</li>
			<li id="cmdEliminar">Eliminar</li>
		</ul>
	</div>
</div>