<div data-layout="rows(100%)">
	<div data-layout-margins="5,5,5,5" data-layout="rows(30px, 100%)">
		<div class="ui-widget-header ui-corner-all" data-layout="cols(100%, 100px)">
			<div id="lblTitulo" class="titulo-control" data-layout-margins="10,8,0,0"></div>
			<button id="cmdSave" data-layout-margins="10,2,5,4">Guardar</button>
		</div>
		<div data-layout="cols(100px, 100%)" data-layout-margins="0,5,0,0">
			<div class="ui-widget-content ui-corner-left barra-opciones-control">
				<div class="cuadro-opcion-control opcion-control-seleccionada" data-codigo-opcion="vista">
					<div class="imagen-opcion-control" ><img src="img/64x64/vista.png" /></div>
					<div class="etiqueta-opcion-control">Vista</div>
				</div>
				<div class="cuadro-opcion-control" data-codigo-opcion="controlador">
					<div class="imagen-opcion-control" ><img src="img/64x64/controlador.png" /></div>
					<div class="etiqueta-opcion-control">Controlador</div>
				</div>
				<div class="cuadro-opcion-control" data-codigo-opcion="debugger">
					<div class="imagen-opcion-control" ><img src="img/64x64/debug.png" /></div>
					<div class="etiqueta-opcion-control">Depurador</div>
				</div>
			</div>
			<div class="ui-widget-content ui-corner-right" id="pager" data-layout-margins="5,0,0,0"></div>
		</div>
	</div>
</div>
