<div data-layout="rows(100%)">
	<div data-layout="rows(34px, 100%)" data-layout-margin="10" >
		<div data-layout="cols(100%)" class="ui-widget-header ui-corner-all">
			<input id="lblPath" type="text" readonly="readonly" data-layout-margins="10,7,10,10"/>
		</div>
		<div data-divider-direction="h" data-divider-initial-position="300" data-hide-direction="left" data-layout-margins="0,5,0,0">
			<div id="al-arbol" data-layout="rows(100%)" data-layout-autoload="dev/arbol-proyecto"><div></div></div>
			<div data-layout="rows(100%)">
				<div id="alContenedorFolders" data-layout-autoload="dev/contenedor-folders"></div>
			</div>
		</div>
	</div>
</div>