<div data-layout="rows(100%)">
	<div data-layout-margins="5,5,5,5" data-layout="rows(30px, 100%)">
		<div class="ui-widget-header ui-corner-all" data-layout="cols(100%, 100px)">
			<div id="lblTitulo" class="titulo-control" data-layout-margins="10,8,0,0"></div>
			<button id="cmdSave" data-layout-margins="10,2,5,4">Guardar</button>
		</div>
		<div id="contenedor-editor" data-layout-margins="0,3,0,0" data-layout="rows(100%)" style="border: 1px solid gray;">
			<div></div>
		</div>
	</div>
</div>
