<div>
	<div data-layout="rows(100%)">	
		<div data-layout="rows(30px, 100%)" data-layout-margins="10,10,0,0">
			<div data-layout-margin="5" data-layout="cols(110px, 100%)">
				<div id="lblEtiqueta" class="form-label" data-layout-margins="0,9,0,0">Nuevo Archivo:</div>
				<input id="edNombre" placeholder="nombre-archivo" />
			</div>
			<div></div>
		</div>
	</div>
</div>