<div>
	<div data-layout="rows(100%)">	
		<div data-layout="cols(270px, 100%)" data-layout-margins="10,10,0,0">
			<div id="arbolWizardsContainer">
				<table id="arbolWizards"></table>
			</div>
			<div data-layout="rows(30px, 100%, 60px)" data-layout-margins="10,0,0,0">
				<div data-layout="cols(130px, 100%)" class="ui-widget-content ui-corner-all">
					<div id="lblEtiqueta" class="form-label" data-layout-margins="5,9,0,0">Nombre del Control:</div>
					<input id="edNombre" placeholder="nombre-archivo" data-layout-margins="0,3,10,8"/>
				</div>
				<div data-layout="rows(100%)" class="ui-widget-content ui-corner-all" data-layout-margins="0,5,0,5">
					<div style="overflow: auto;">
						<img id="img" style="width: 100%;"/>
					</div>
				</div>
				<div data-layout="rows(100%)" class="ui-widget-content ui-corner-all">
					<p id="lblHelp" data-layout-margins="10,0,10,0"></p>
				</div>
			</div>
		</div>
	</div>
</div>