<div>
	<div data-layout="rows(30px, 100%)">
		<div class="ui-widget-content ui-corner-all" data-layout-margins="15,10,0,0" data-layout="rows(100%)">
			<div id="lblPath" data-layout-margin="5"></div>
		</div>	
		<select id="edDir" size="5" data-layout-margins="15,5,0,0"></select>
	</div>
</div>