<div>
    <nav class="navbar navbar-expand-md navbar-light bg-light mt-1 border border-secondary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#filtro-opcion-1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="filtro-opcion-1" class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0 mr-auto">
                <select id="edSelect1" class="form-control  form-control-sm mr-1">
                    <option selected="" value="_all_">[Todos los Valores]</option>
                    <option value="1">Valor 1</option>
                    <option value="2">Valor 2</option>
                </select>
                <div class="input-group input-group-sm">
                    <input id="edBuscar" data-z-autochange-delay="300" type="search" class="form-control  form-control-sm" placeholder="Buscar">
                    <span id="cmdLimpiadorBuscar" class="input-group-append" style="cursor: pointer;"><span class="input-group-text"><i class="fa form-control-feedback fa-times-circle fa-sm fa-fw"></i></span></span>
                </div>
            </form>
            <button id="cmdAgregar" class="btn btn-outline-primary my-2 my-sm-0" type="button">
                Nuevo
                <span class="fa fa-plus-circle ml-1"></span>
            </button>
        </div>
    </nav>
    <div id="mensajeError" class="alert alert-danger mt-1" style="display: none;"></div>
    <div id="contenedorLista" class="row mt-1">
        <div class="col justify-content-center">
            <table id="lista" class="table table-sm table-hover table-striped table-bordered" data-z-page-details="detalle-${nombre}" data-z-pager="paginador-${nombre}" data-z-edit="true" data-z-selectable-row-class="table-primary">
                <thead>
                    <tr>
                        <th data-z-col="codigo" data-z-cell-class="text-center td-tabla-custom" class="text-center th-tabla-custom">Código</th>
                        <th data-z-col="nombre" data-z-cell-class="text-left td-tabla-custom" data-z-editable="true" class="text-center th-tabla-custom">Nombre</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center"><small id="detalle-${nombre}" class="form-text text-muted"></small></div>
    <div class="row justify-content-center">
        <ul id="paginador-${nombre}" class="pagination pagination-sm pagination-centered" data-z-pagination="local" data-z-n-rows="10" data-z-n-pages="10"></ul>
    </div> 
</div>