<div class="modal fade" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="titulo" class="modal-title"></h5>
				<button id="cmdCerrar" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="col">
							<div class="form-group">
							    <label for="edCodigo">Código</label>
							    <input id="edCodigo" type="text" class="form-control" placeholder="codigo" style="max-width: 10rem;">
							  </div>
						</div>
						<div class="col"></div>
						<div class="col"></div>
					</div>
					<div class="form-row">
						<div class="col">
							<div class="form-group">
							    <label for="edNombre">Nombre</label>
							    <input id="edNombre" type="text" class="form-control" placeholder="nombre">
							  </div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button id="cmdAceptar" class="btn btn-primary" type="button">Aeptar</button>
				<button id="cmdCancelar" class="btn btn-secondary" type="button">Cancelar</button>
			</div>
		</div>
	</div>
</div>