<div>
	<div class="alert alert-info">
		Ingrese su dirección de correo elecrtrónico. Si el e-mail está registrado en la lista de Usuarios del Sistema, se le enviará por correo electrónico un código que deberá ingresar
		en la siguiente página para crear una nueva contraseña.
	</div>
	<div id="mensajeEnviando" style="display: none;" class="alert alert-info">
		<span class="fa-spinner fa-spin mr-3 fa-2x fas"></span>Enviando Correo, por favor espere ...
	</div>
	<div id="mensajeError" style="display: none;" class="alert alert-danger"></div>
	<form role="form">
		<div class="form-group">
			<label for="edLogin">e-mail del Usuario</label>
		    <div class="input-group mb-1">
				<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
				<input id="edEmail" type="text" class="form-control" value="" placeholder="nombre@sitio.com"> 
			</div>
            <small class="form-text text-muted mt-0">Dirección de correo para enviar código de seguridad</small>
		</div>
	</form>
</div>