<div class='modal fade' tabindex='-1'>
	<div class='modal-dialog' role='document'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title'>Crear Nueva Contraseña</h5>
				<button id='cmdCerrar' type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
			</div>
			<div class='modal-body'>
				<div>
					<div id="pager" data-z-pages='[{"code":"enviar-codigo", "url":"${pathRelativo}/p-${nombre}-enviar-codigo", "initial":true}, {"code":"cambiar-pwd", "url":"${pathRelativo}/p-${nombre}-cambiar-pwd"}]'>
					</div>
				</div>
			</div>
			<div class='modal-footer'>
				<button id="cmdCancelar" class='btn btn-secondary' type="button">Cancelar</button>
				<button id="cmdAceptar" class='btn btn-primary' type="button">Siguiente</button>
			</div>
		</div>
	</div>
</div>