<div class='modal fade' tabindex='-1'>
	<div class='modal-dialog' role='document'>
		<div class='modal-content'>
			<div class='modal-header text-warning'>
				<h5 id="title" class='modal-title'>Confirmación</h5>
				<button type='button' class='close' data-dismiss="modal"><span aria-hidden='true'>&times;</span></button>
			</div>
			<div class='modal-body'>
				<div id="msg" ></div>
			</div>
			<div class='modal-footer'>
				<button id="cmdOK" class='btn btn-primary' type="button">Aceptar</button>
				<button id="cmdCancel" class='btn btn-secondary' type="button" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>