<div class='modal fade' tabindex='-1'>
	<div class='modal-dialog' role='document'>
		<div class='modal-content'>
			<div class='modal-header text-info'>
				<h5 id="title" class='modal-title'>Información</h5>
				<button id="topClose" type='button' class='close' ><span aria-hidden='true'>&times;</span></button>
			</div>
			<div class='modal-body'>
				<div id="msg"></div>
			</div>
			<div class='modal-footer'>
				<button id="cmdClose" class='btn btn-primary' type="button" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>