<div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mt-1">
        <img class="navbar-brand py-0 px-0" src="img/logo-pequeno.jpg" height="50">
        <span class="navbar-brand">Mi Portal</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="contenedorMenu" class="navbar-nav mr-auto">
                <li id="menu1" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Menú Uno
                    </a>
                    <div class="dropdown-menu">
                        <a id="opUno1" class="dropdown-item" href="#">Opción 1 del Menú Uno</a>
                        <a id="opUno2" class="dropdown-item" href="#">Opción 2 del Menú Uno</a>
                    </div>
                </li>
                <li id="menu2" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                        Menú Dos
                    </a>
                    <div class="dropdown-menu">
                        <a id="opDos1" class="dropdown-item" href="#">Opción 1 del Menú Dos</a>
                        <a id="opDos2" class="dropdown-item" href="#">Opción 2 del Menú Dos</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button id="cmdLogout" class="btn btn-outline-warning my-2 my-sm-0" type="button">
                    Cerrar Sesión
                    <span class="fas fa-sign-out-alt ml-1"></span>
                </button>
            </form>
        </div>
    </nav>
    <div id="loader" data-z-autoload="common/empty"></div>
</div>