@charset "UTF-8";

.mbmenu{
  display:none;
}
.rootVoices{
  padding:5px;
  padding-bottom:0;
  background-color: #0D4E79;
}

/* titulo menu horizontal*/
.rootVoices td.rootVoice {
  vertical-align:middle;
  text-align:center;
  width:120px;
  font-family:Arial,Helvetica,sans-serif;
  color: #ffffff;
  font-size:12px;
  line-height:12px;
  padding:4px;
  cursor: pointer;
}

/* del label seleccionado */
.rootVoices td.rootVoice.selected{
  background: #88C800;
  padding:4px;
  color:#ffffff;
  cursor: pointer;
  font-size:13px;
  font-family:Arial,Helvetica,sans-serif;
  -moz-border-radius:8px 8px 0 0px;
  -webkit-border-top-right-radius:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:0px;
  border-top-right-radius:1px;
  border-top-left-radius:1px;
  border-bottom-right-radius:1px;
  border-bottom-left-radius:1px;

}
.rootVoices td.rootVoice.disabled.selected{
  background:red!important;
  color:#666;
  text-shadow:#ddd 1px 1px 1px;
}

.rootVoices.vertical {
  width:140px;
}
.rootVoices.vertical td.rootVoice{
  -moz-border-radius:8px 0px 0 8px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-bottom-right-radius:0px;
  -webkit-border-bottom-left-radius:8px;
  border-top-right-radius:0px;
  border-top-left-radius:8px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:8px;
}

/**/

.menuContainer{
  overflow:hidden;
  position:absolute;
  background-color:#dfeffc;
  padding:0;
/*  -moz-box-shadow:#999 1px 1px 5px;*/
  -webkit-box-shadow:#999 1px 1px 5px;
  box-shadow:#999 1px 1px 5px;

  -moz-border-radius: 1px 1px 1px 1px;
  -webkit-border-top-right-radius:0px;
  -webkit-border-top-left-radius:0px;
  -webkit-border-bottom-right-radius:1px;
  -webkit-border-bottom-left-radius:1px;
  border-top-right-radius:0px;
  border-top-left-radius:0px;
  border-bottom-right-radius:1px;
  border-bottom-left-radius:1px;
}
.menuContainer.submenuContainer{
  border-top:none!important;
}

.menuContainer.disabled{
  border-top:5px solid #999;
  background-color:gray;
}
.menuContainer .line{
  background-color:transparent;
  width:100%;
}
.menuContainer .line.title {
  background-color:gray;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  /*border-bottom:1px solid black;*/
}
.menuContainer.disabled .line.title {
  background-color:#999;
}
.menuContainer .line.title a{
  font-size:12px;
  color:#ccc;
}
.menuContainer.disabled .line.title a{
  font-size:12px;
  color:#666;
  text-shadow:#999 1px 1px 1px;
}
/* (sub titulos) texto dentro del menu horizontal*/
.menuContainer td a{
  text-decoration:none;
  color:#193876;
  height:100%;
}
.menuContainer td.voice{
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  padding:7px;
}
.menuContainer .separator{
  background-color:#999;
  height:1px;
  padding:0;
  margin:0;
}

/*cuadro sub menu desplegado*/
.menuContainer td.img{
  font-family:Arial,Helvetica,sans-serif;
  text-align:center;
  font-size:12px;
  color: #5c9ccc;
  background-color:#5c9ccc;
  width:24px;
  padding:5px;
}
.menuContainer td.img img{
  width:20px;
}
.menuContainer .textBox{
  padding: 10px;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  color: #c3c3c3;
}
.menuContainer .selected td{
  background-color: #88C800;
}

/* dentro del menu, opción seleccionada */
.menuContainer .selected td a{
  color: #ffffff;
  font-family:Arial,Helvetica,sans-serif;
  font-size:12px;
  
}
.menuContainer .disabled td, .menuContainer .disabled td a {
   color: #2e6e9e;
   font-family:Arial,Helvetica,sans-serif;
   font-size:12px;
}
.menuContainer .subMenuOpener{
  background-color: #dfeffc;
  background-repeat:no-repeat;
  background-position:right;
}
.menuContainer .selected .subMenuOpener{
  background-color:#88C800;
  background-repeat:no-repeat;
  background-position:right;
}

/*BOX MENU*/

.boxMenu{
  color:#f3f3f3;
  border-top:8px solid gray;
  background:url("../images/box_top.png") repeat-x;
}
.boxMenu h4{
  white-space:nowrap;
  margin:0 0 20px 0;
  padding:3px;
  font:18px/20px georgia, serif;
  padding-right:20px;
  text-shadow:#666 2px 2px 1px;
}

.boxMenu td{
  min-width:160px;
  vertical-align:top;
  border-right:1px solid #999;
}
.boxMenu td:hover{
  background-color:fuchsia;
  -moz-box-shadow:#666 2px 2px 4px;
  -webkit-box-shadow:#666 2px 2px 4px;
}

.boxMenu td:hover a{
  margin-right:3px;
  text-shadow:#fff 1px 1px 1px;
  color:gray;
}

.boxMenu td:last-child{
  min-width:160px;
  vertical-align:top;
  border-right:none;
}

.boxMenu a{
  font-size:12px;
  white-space:nowrap;
  display:block;
  padding:5px;
  margin-bottom:5px;
}

.boxMenu a img{
  padding-right:5px;
}

.boxMenu a:hover{
  color:gray;
  text-shadow:#fff 2px 2px 1px;
  background-image:url("../images/bgnd_sel_2.jpg");
  -moz-box-shadow:#666 2px 2px 4px;
  -webkit-box-shadow:#666 2px 2px 4px;
}

.boxMenu a img{
  border:0;
}
