html {
	height:100%;
}

body{
	margin:0px; 
	overflow:hidden; 
	width:100%; 
	height:100%;
	font-family: Arial, Sans Seriff;
}

.main {
	width:100%;
	height:100%;
	background: #2f2f2f; /* No soporta */
	background: -webkit-linear-gradient(#5f5f5f, #2f2f2f); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5f5f5f, #2f2f2f); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5f5f5f, #2f2f2f); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5f5f5f, #2f2f2f); /* Standard syntax */
}
.ui-widget {font-size:0.7em;}

.ui-button ui-button-text .ui-button input.ui-button, .ui-widget-content input.ui-button {  
	font-size: 0.7em !important; 
}

.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu-icons {
	position: relative;
}
.ui-menu-icons .ui-menu-item-wrapper {
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: .2em;
	margin: auto 0;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	left: auto;
	right: 0;
}
.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px;
}
.ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5;
	padding: 2px 0.4em;
	margin: 0.5em 0 0 0;
	height: auto;
	border: 0;
}
/*** ***/

.ui-menu .ui-menu-item {
	position: relative;
	padding-top: 4px;
	padding-bottom: 3px;
	cursor: pointer;
	min-height: 0; /* support: IE7 */
	/* support: IE10, see #8844 */
	list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: rgb(205,219,242);
}


.ui-jqgrid-sortable {
	padding-top: 4px;
}
.ui-menu {
	width:180px;
}
.ui-dialog .ui-dialog-content {
    padding: 4px;
}
.ui-accordion .ui-accordion-content {
	padding: 4px;
}
.ui-tabs .ui-tabs-panel {
    padding: 0 0 0 0;
}

.slider-divider {
	z-index: 100;
}



/** **/
.fondo-menu {
	background-color: white;
}
.form-label {
	font-size:12px;
	font-weight: bold;
}
.filter-label {
	font-size:12px;
	font-weight: bold;
	color: rgb(50,50,50);
}
.form-input {
	width: 100%;
	height: 100%;
}
.cuadro-principal{
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	border: 1px solid #0D8BB5;
	box-shadow: 10px 10px 5px #222222;
}
.titulo{
	font-family: Arial;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	padding-top: 15px;
}
.titulo-panel {
	font-size:12px;
	font-weight: bold;
	color: black;
}
.link-pequeno {
	font-size:10px;
	font-style: italic;
	color: gray;
	text-decoration: underline;
	cursor: pointer;
}
.descripcion-filtro {
	font-size:11px;
	font-style: italic;
	color: gray;
}

.tabla-log {
	font-family: "Courier New", Courier, monospace;
	font-size: 10px;
	width: 100%;
}
.fila-tabla-log {outline: thin solid #f4f5fc; }
.fila-P-tabla-log {background-color: white;}
.fila-D-tabla-log {background-color: #d1f7b9;}
.fila-I-tabla-log {background-color: #d4e7f9;}
.fila-W-tabla-log {background-color: #f9f4d4;}
.fila-E-tabla-log {background-color: #f9ded4;}
.scope-tabla-log {width: 30px; text-align: center; vertical-align: top; padding-top: 5px;}
.tipo-tabla-log {width: 30px; text-align: center; vertical-align: top;; padding-top: 5px;}
.tiempo-tabla-log {width: 120px; text-align: center; vertical-align: top;; padding-top: 5px;}
.objeto-tabla-log {width: 120px; text-align: center; vertical-align: top;; padding-top: 5px;}
.mensaje-tabla-log {}

.titulo-panel {
	font-size:12px;
	font-weight: bold;
	color: black;
}

.barra-control {
	overflow: auto;
}
.titulo-control {
	font-size: 16px;
	font-family: Arial;
	font-style: italic;
}
.cuadro-opcion-control {
	margin: 5px; 
	padding: 5px;
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
}
.opcion-control-seleccionada {
	background-color: #b2d7ff
}
.imagen-opcion-control {
	text-align: center;
}
.etiqueta-opcion-control {
	text-align: center;
	font-size: 14px;
	font-family: Arial;
}
.panel-opciones {
	background-color: rgba(255,255,255,0.8);
	border: 2px solid gray;
	border-radius:0 10px 10px 0;
	z-index: 99;
}
.tabla-log {
	font-size: 10px;
	font-family: Courier New;
}
.opcion-diagrama {
	padding: 5px;
	color: blue;
}