<div class="modal fade" tabindex="-1">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="titulo" class="modal-title">Titulo de la Ventana</h5>
				<button id="cmdCerrar" type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button id="cmdAceptar" class="btn btn-primary" type="button">Aeptar</button>
				<button id="cmdCancelar" class="btn btn-secondary" type="button">Cancelar</button>
			</div>
		</div>
	</div>
</div>