<div>
	<div data-layout="cols(60px, 100%)" >
		<div data-layout="rows(60px, 100%)">
			<div class="ui-widget-content ui-corner-all" data-layout="cols(50%, 32px, 50%)" data-layout-margins="10,10,0,0">
				<div></div>
				<div data-layout="rows(50%, 32px, 50%)">
					<div></div>
					<img src="img/32x32/info.png" />
					<div></div>
				</div>
				<div></div>
			</div>
			<div></div>
		</div>
		<div class="ui-widget-content ui-corner-all" data-layout="rows(100%)" data-layout-margins="10,10,0,0">
			<div id="lblMessage" data-layout-margin="10"></div>
		</div>
	</div>
</div>