<div data-layout="rows(100%)">
	<div id="conPanel" data-side-panel-width="300" data-side-panel-position="left" style="overflow: hidden;">
		<div data-layout="rows(100%)">
			<div data-layout="rows(28px, 100%)" data-layout-margin="5">
				<div data-layout="cols(30px, 100%, 100px)" class="ui-widget-header ui-corner-top">
					<img id="cmdMenu" data-layout-margins="4,2,0,2" src="img/32x32/menu.png" style="cursor: pointer;" />
					<div class="titulo-panel" data-layout-margins="5,10,0,0" >Controlador</div>
					<button id="cmdContrato" type="button" data-layout-margins="0,1,2,3">Contrato</button>
				</div>
				<div id="contenedor-editor" data-layout-margins="0,3,0,0" data-layout="rows(100%)" style="border: 1px solid gray;">
					<div></div>
				</div>
			</div>
		</div>
		
		<div data-layout="rows(100%)">
			<div data-layout="rows(28px, 5px, 100%)" class="panel-opciones" data-layout-margins="0,5,0,5">
				<div data-layout="cols(100%, 30px)">
					<div class="titulo-panel" data-layout-margins="10,8,0,0">Pegar</div>
					<img id="cmdCerrarMenu" data-layout-margins="0,2,4,2" src="img/32x32/cerrar.png" style="cursor: pointer;"/>
				</div>
				<div><hr /></div>
				<div data-layout-margin="5" data-divider-direction="v" data-divider-initial-position="140" data-position-relativeto="bottom" data-hide-direction="bottom" style="overflow: hidden;">
					<div data-layout="rows(100%)">
						<div id="contenedor-arbol-paste" data-layout-margins="0,0,2,5" data-layout="rows(100%)"><div></div></div>
					</div>
					<div data-layout="rows(100%)" >
						<div class="ui-widget-content ui-corner-bottom" data-layout-margins="0,0,2,0" data-layout="rows(100%)">
							<div id="ayuda" data-layout-margin="5" style="overflow: auto;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>