<div data-layout="rows(37px,100%)">
	<div data-layout="cols(100%, 100px)" class="ui-widget-header ui-corner-top" data-layout-margins="3,3,3,0">
		<div id="lblTitulo" class="titulo-panel" data-layout-margins="5,10,0,0" ></div>
		<button id="cmdRefrescar" type="button" data-layout-margins="0,3,5,5">Refrescar</button>
	</div>
	<div data-divider-direction="v" data-divider-initial-position="200" data-hide-direction="bottom" data-position-relativeto="bottom" data-layout-margins="3,5,3,3">
		<div data-layout="rows(100%)" class="ui-widget-content" data-layout-margin="10">
			<iframe id="iframe" frameBorder="0" ></iframe>
		</div>
		<div data-divider-direction="h" data-divider-initial-position="240" data-hide-direction="left" data-layout-margins="3,5,3,3">
			<div data-layout="rows(34px, 100%, 1px)">
				<div class="ui-widget-header ui-corner-top" data-layout="cols(100px, 100px, 100%)">
					<button id="cmdEjecutar" type="button" data-layout-margins="5,3,5,5">Ejecutar</button>
					<button id="cmdAyuda" type="button" data-layout-margins="0,3,5,5">Pegar</button>
					<div></div>
				</div>
				<textarea id="edComando" rows="5" data-layout-margins="2,5,5,5"></textarea>
				<div>
					<ul id="pop-menu" style="display: none; z-index: 101; min-height: 18px;">
						
					</ul>
				</div>
			</div>
			<div data-layout="rows(100%)">
				<div id="logContainer" style="overflow: auto;"></div>
			</div>
		</div>
	</div>
</div>