<div data-layout="rows(100%)">
	<div id="tabs">
		<ul>
			<li><a href="#det-controles">Controles</a></li>
			<li><a href="#det-html">HTML</a></li>
		</ul>
		<div id="det-controles">
			<div id="detControles" data-layout="rows(100%)">
				<div data-divider-direction="h" data-divider-initial-position="300" data-hide-direction="left" data-layout-margins="0,5,0,0">
					<div data-layout="rows(30px, 100%, 1px)">
						<div data-layout="cols(100%, 100px)">
							<input id="edFiltro" data-layout-margins="5,3,15,8" class="form-input" type="search" placeholder="Buscar id"/>
							<button id="cmdOpciones" data-layout-margins="0,0,2,5">Opciones</button>
						</div>
						<div id="arbolControlesContainer" data-layout-margins="0,0,0,5">
							<table id="arbolControles"></table>
						</div>
						<div>
						<ul id="pop-menu" style="display: none; z-index: 101;">
							<li id="opcionAgregar">
								<div>Agregar Control</div>
																
							</li>
							<li id="opcionEliminar">Eliminar</li>	
							<li id="opcionSubir">Subir</li>
							<li id="opcionBajar">Bajar</li>							
						</ul>
					</div>
					</div>
					<div id="detallesControl" ></div>
				</div>
			</div>
		</div>
		<div id="det-html">
			<div id="detHTML" data-layout="rows(100%)">
				<div data-layout="rows(34px, 100%)" data-layout-margins="0,0,2,2">
					<div data-layout="cols(100%, 100px)" class="ui-widget-header ui-corner-top">
						<div></div>
						<button id="cmdAplicar" type="button" data-layout-margins="0,3,5,4">Aplicar</button>
					</div>
					<div id="contenedor-html" data-layout-margins="0,3,0,0" data-layout="rows(100%)" style="border: 1px solid gray;">
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>