<div>
	<div data-layout="rows(100%)">	
		<div data-layout="rows(100%)" data-layout-margins="10,10,0,0">
			<div data-layout-margin="5" data-layout="cols(130px, 100%)">
				<div class="form-label" data-layout-margins="0,3,0,0">Método del Contrato:</div>
				<textarea id="edMetodo" placeholder="metodo(arg1, arg2)"></textarea>
			</div>
		</div>
	</div>
</div>