<div>
	<div data-layout="rows(100%)">
		<div id="tabsContrato" data-layout-margins="20,10,0,0">
			<ul>
				<li><a href="#det-metodos">Métodos</a></li>
				<li><a href="#det-eventos">Eventos</a></li>
			</ul>
			<div id="det-metodos">
				<div id="detMetodos" data-layout="rows(37px, 100%)">
					<div class="ui-widget-header ui-corner-all" data-layout="cols(100px, 100px, 100px, 100%)" data-layout-margins="0,3,0,0">
						<button id="cmdAgregarMetodo" type="button" data-layout-margins="5,3,0,4">Agregar</button> 
						<button id="cmdEditarMetodo" type="button" data-layout-margins="5,3,0,3">Editar</button> 
						<button id="cmdEliminarMetodo" type="button" data-layout-margins="5,3,0,4">Eliminar</button>
						<div></div> 
					</div>
					<select id="edMetodo" size="5" data-layout-margins="0,5,0,0"></select>
				</div>
			</div>
			<div id="det-eventos">
				<div id="detEventos" data-layout="rows(37px, 100%)">
					<div class="ui-widget-header ui-corner-all" data-layout="cols(100px, 100px, 100px, 100%)" data-layout-margins="0,3,0,0">
						<button id="cmdAgregarEvento" type="button" data-layout-margins="5,3,0,4">Agregar</button> 
						<button id="cmdEditarEvento" type="button" data-layout-margins="5,3,0,3">Editar</button> 
						<button id="cmdEliminarEvento" type="button" data-layout-margins="5,3,0,4">Eliminar</button>
						<div></div> 
					</div>
					<select id="edEvento" size="5" data-layout-margins="0,5,0,0"></select>
				</div>
			</div>
		</div>
	</div>
</div>