<div class="row justify-content-center mt-3">
	<div class="card" style="width: 40rem;">
		<div class="card-header text-white bg-dark">
			<div class="row align-items-end">
				<div class="col col-md-6">
					<img src="img/logo.jpg" height="120px">
				</div>
				<div class="col col-md-6">
					<h5 class="card-title text-right">Nombre de Mi Portal</h5>
				</div>
			</div>
		</div>
		<hr>
		<div class="card-body">			
			<div id="mensajeError" class="alert alert-danger" style="display: none;"></div>
            <div id="mensajeBuscando" class="alert alert-light" style="display: none;">
                <span class="fa fa-spinner fa-spin fa-2x mr-1"></span>Buscando ..
            </div>
			<form role="form">
		        <div class="input-group mb-2">
					<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
					<input id="edRut" type="text" class="form-control" placeholder="RUT del Usuario" data-z-autochange-delay="300"> 
				</div>
				<div class="input-group mb-2">
					<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lock"></i></span></div>
					<input id="edPwd" type="password" class="form-control" name="password" placeholder="Contraseña">
				</div>
				<div class="pull-right mb-1">						
					<a id="cmdOlvidoPwd" class="text-warning" style="cursor: pointer;">Olvidé mi Contraseña</a>
				</div>					
				<button id="cmdLogin" class="btn btn-lg btn-primary btn-block mt-2" type="button">
					Ingresar
					<span class="ml-1 fa-lg fa-sign-in-alt fas"></span>
				</button>
			</form>
		</div>	
	</div>
</div>