<div>
	<div id="mensajeError" class="alert alert-danger" style="display: none;"></div>
	<form class="form">
		<div class="form-group">
			<label for="edCodigoSeguridad">Pegue acá el Código de Seguridad recibido por Correo</label>
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-envelope"></i></span></div>
				<input id="edCodigoSeguridad" type="password" class="form-control" value="" placeholder="Código de Seguridad">                                        
			</div>
		</div>
		<div class="form-group">
			<label for="edPwd1">Nueva Contraseña</label>
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lock"></i></span></div>
				<input id="edPwd1" type="password" class="form-control" name="password" placeholder="Nueva Contraseña">
			</div>
		</div>
		<div class="form-group">
			<label for="edPwd2">Repita la Nueva Contraseña</label>
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-lock"></i></span></div>
				<input id="edPwd2" type="password" class="form-control" name="password" placeholder="Repita la Contraseña">
			</div>
		</div>
	</form>
</div>
					