<div>
	<div class="alert alert-info">
		Ingrese su RUT. Si el RUT está registrado en la lista de Usuarios del Sistema, se le enviará por correo electrónico un código que deberá ingresar
		en la siguiente página para crear una nueva contraseña.
	</div>
	<div id="mensajeEnviando" style="display: none;" class="alert alert-info">
		<span class="fa-spinner fa-spin mr-3 fa-2x fas"></span>Enviando Correo, por favor espere ...
	</div>
	<div id="mensajeError" style="display: none;" class="alert alert-danger"></div>
	<form role="form">
		<div class="form-group">
			<label for="edLogin">RUT del Usuario</label>
		    <div style="margin-bottom: 25px" class="input-group mb-1">
				<div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-user"></i></span></div>
				<input id="edRut" type="text" class="form-control" value="" placeholder="RUT"> 
			</div>
            <small class="form-text text-muted mt-0">Ingrese su RUT sin puntos y con guión, por ejemplo, 12987987-4</small>
		</div>
	</form>
</div>